<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>manInblack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{67,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,79}}</string>
                <key>sourceSize</key>
                <string>{67,79}</string>
            </dict>
            <key>manInblack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{67,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,81}}</string>
                <key>sourceSize</key>
                <string>{67,81}</string>
            </dict>
            <key>manInblack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{67,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,81}}</string>
                <key>sourceSize</key>
                <string>{67,81}</string>
            </dict>
            <key>manInBlack04.png</key>
            <dict>
              <key>frame</key>
              <string>{{2,85},{67,81}}</string>
              <key>offset</key>
              <string>{0,0}</string>
              <key>rotated</key>
              <false/>
              <key>sourceColorRect</key>
              <string>{{0,0},{67,81}}</string>
              <key>sourceSize</key>
              <string>{67,81}</string>
            </dict>
            <key>manInblack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,81}}</string>
                <key>sourceSize</key>
                <string>{67,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>manInBlack.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c35091d5bdef518430f837961d5b6872$</string>
            <key>textureFileName</key>
            <string>manInBlack.png</string>
        </dict>
    </dict>
</plist>
