<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{434,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,143}}</string>
                <key>sourceSize</key>
                <string>{434,143}</string>
            </dict>
            <key>GameExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,614},{303,78}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{303,78}}</string>
                <key>sourceSize</key>
                <string>{317,88}</string>
            </dict>
            <key>GameExitSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,675},{302,78}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,78}}</string>
                <key>sourceSize</key>
                <string>{324,88}</string>
            </dict>
            <key>GameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,254},{369,120}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{369,120}}</string>
                <key>sourceSize</key>
                <string>{393,140}</string>
            </dict>
            <key>GameSetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,694},{302,77}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{302,77}}</string>
                <key>sourceSize</key>
                <string>{326,89}</string>
            </dict>
            <key>GameSettingSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{304,78}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{304,78}}</string>
                <key>sourceSize</key>
                <string>{318,88}</string>
            </dict>
            <key>GameStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,694},{303,77}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{303,77}}</string>
                <key>sourceSize</key>
                <string>{327,89}</string>
            </dict>
            <key>GameStartSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,675},{304,77}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{304,77}}</string>
                <key>sourceSize</key>
                <string>{324,89}</string>
            </dict>
            <key>GameTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{455,96}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,96}}</string>
                <key>sourceSize</key>
                <string>{455,108}</string>
            </dict>
            <key>Hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,13},{445,167}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{445,167}}</string>
                <key>sourceSize</key>
                <string>{447,169}</string>
            </dict>
            <key>Normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,100},{442,152}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,152}}</string>
                <key>sourceSize</key>
                <string>{444,154}</string>
            </dict>
            <key>Retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{365,143}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{365,143}}</string>
                <key>sourceSize</key>
                <string>{377,155}</string>
            </dict>
            <key>RetrySelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,254},{340,117}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{340,117}}</string>
                <key>sourceSize</key>
                <string>{340,141}</string>
            </dict>
            <key>Return.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,614},{365,143}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{365,143}}</string>
                <key>sourceSize</key>
                <string>{377,153}</string>
            </dict>
            <key>ReturnSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,327},{346,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,115}}</string>
                <key>sourceSize</key>
                <string>{346,115}</string>
            </dict>
            <key>eit.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,308},{304,78}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{304,78}}</string>
                <key>sourceSize</key>
                <string>{316,88}</string>
            </dict>
            <key>eitSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,675},{304,76}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{304,76}}</string>
                <key>sourceSize</key>
                <string>{316,88}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,9}}</string>
                <key>sourceSize</key>
                <string>{484,9}</string>
            </dict>
            <key>one.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,596},{303,77}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{303,77}}</string>
                <key>sourceSize</key>
                <string>{311,89}</string>
            </dict>
            <key>oneSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,694},{303,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{303,76}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>three.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,376},{303,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{303,76}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>threeSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,694},{303,77}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{303,77}}</string>
                <key>sourceSize</key>
                <string>{311,89}</string>
            </dict>
            <key>two.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,694},{303,78}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{303,78}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>twoSelected.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,694},{303,78}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{303,78}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pics.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caef1a52a4d18db37c7bb16b0245c98e$</string>
            <key>textureFileName</key>
            <string>pics.png</string>
        </dict>
    </dict>
</plist>
